fieldset.options table { border-collapse: collapse; }
fieldset.options table td { padding: 0; vertical-align: middle; }
fieldset.options tr { height: 2.1em; }
fieldset.options td.field { width:230px; }
fieldset.options td.values { white-space:nowrap; }
fieldset.options td.values select {min-width:130px;}
fieldset.options td.values input {height:1em;}
